<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog.log" internalLogLevel="Trace">

    <extensions>
        <add assembly="Calame.LogConsole" />
    </extensions>

    <targets>
        <target name="logfile" xsi:type="File" fileName="Calame.log" deleteOldFileOnStartup="True" />
        <target name="calame" xsi:type="Calame" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Trace" writeTo="calame" />
    </rules>

</nlog>